// THIS MIGHT INCLUDE HEADER, FOOTER AND OTHER
// COMMON ELEMENTS ACROSS THE SITE

// HEADER
.header
  background: white
  padding: 20px 0 15px 0
  &__wrapper
    display: flex
    justify-content: space-between



// FOOTER
.footer
  flex: 0
