// SOME INNER PAGES CONTENT

.login
  &__wrapper
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 65vh
    margin: 10vh 15%
    @include mq($until: mobile)
      margin-top: 30px
      margin-left: 20px
      margin-right: 20px

  &__form
    width: 100%
    max-width: 550px
    margin-left: auto
    margin-right: auto


// PROFILE

.profile
  &__wrapper
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 65vh
    margin: 10vh 5%
  &__links
    font-size: 25px
    a
      display: block
      margin-bottom: 10px
      color: $colorPrimary2
      &::before
        display: inline-block
        content: ' '
        width: 10px
        height: 10px
        border-radius: 50%
        background: $colorPrimary2
        margin-right: 10px
        vertical-align: middle



// Content
.content
  &__wrapper
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 65vh
    margin: 10vh 5%
  p
    font-size: 16px
    line-height: 1.6


// SHOP
.shop
  .white-bg
    margin-bottom: 20px
  &__verification
    position: relative
  &__hero
    position: relative
    padding: 20px 0
    text-align: center
    margin-top: 20px
    height: 230px
    background: $colorPrimary2
    color: white
    overflow: hidden
    &__title
      position: relative
      z-index: 3
      font-size: 50px
      @include mq($until: tablet)
        font-size: 35px
      @include mq($until: mobile)
        font-size: 30px

      &--client
        position: absolute
        top: 50%
        left: 0
        right: 0
        transform: translateY(-50%)
        text-align: center
        text-shadow: 0 2px 4px rgba(black, .35)
    .ico-shop-photo
      position: relative
      z-index: 3
    input
      -webkit-appearance: none
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      opacity: 0
      z-index: 5
      cursor: pointer
    img
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: 0
      z-index: 2
      width: 100%
      max-width: 100%


  &__contacts
    border-bottom: 2px solid $colorPrimary
    padding-bottom: 20px
    margin-bottom: 20px
    &__title
      display: inline-block
      font-size: 32px
      text-align: center
      color: white
      background: $colorPrimary
      padding: 7px 20px
      border-bottom-left-radius: 8px
      border-bottom-right-radius: 8px

  &__contact
    font-size: 20px
    color: $colorPrimary

  &__socials
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-wrap: wrap
    margin-left: auto
    max-width: 240px
  &__social
    position: relative
    flex: 0 0 60px
    margin-bottom: 5px

  &__payments
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-wrap: wrap
    margin-left: auto
    max-width: 240px
  &__payment
    position: relative
    flex: 0 0 70px
    margin-bottom: 5px

  &__verification-form
    font-size: 120%
    label
      font-weight: 600
    p
      margin-bottom: 0
    a
      text-decoration: underline
      color: $colorPrimary3

  // wrapper
  &__content
    padding-top: 30px

  // for create/edit
  &__products
    padding-top: 20px
    padding-bottom: 50px
    margin-bottom: 20px
    &__new
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      margin-top: 25px
      margin-bottom: 25px
      .ico
        flex: 0 0 60px
      &__title
        color: $colorPrimary2
        font-size: 30px
        font-weight: 700
        margin-left: 15px



  &__product
    background: white
    box-shadow: 0px 0px 9px rgba(black, .2)
    display: flex
    align-items: center
    padding: 5px 15px 5px 5px
    margin-bottom: 15px
    @include mq($until: mobile)
      flex-direction: column
    &__image
      position: relative
      width: 110px
      height: 110px
      flex: 0 0 100px
      height: 110px
      background: $colorPrimary
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      margin-right: 15px
      margin-left: 10px
      color: white
      overflow: hidden
      cursor: pointer
      @include mq($until: mobile)
        margin-right: auto
        margin-left: auto

      input
        -webkit-appearance: none
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: 0
        cursor: pointer
        z-index: 3
      img
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        z-index: 2
      .ico
        transform: scale(.4)
        margin-top: -25px
        transform: top center
      span
        display: inline-block
        margin-top: -28px
        font-size: 15px
        font-weight: 700
        text-align: center
    &__content
      position: relative
      flex: 1 1 auto
      display: flex
      flex-direction: column
      border-left: 2px solid #edeeef
      padding-left: 15px
      @include mq($until: mobile)
        margin-top: 15px
        border-left: 0
        padding-left: 0
    &__name
      font-size: 26px
      font-weight: 700
      @include mq($until: mobile)
        font-size: 22px
    &__location
      font-size: 18px
    &__description
      font-size: 24px
      margin-top: 10px
      @include mq($until: mobile)
        font-size: 18px
    &__actions
      position: absolute
      bottom: 10px
      right: 0
      text-align: right
      flex: 1
      display: -webkit-flex
      display: -ms-flex
      display: flex
      justify-content: flex-end
      align-items: flex-end
      margin-top: auto
      margin-bottom: 5px
      @include mq($until: mobile)
        position: static
        margin-top: 10px
      .btn
        font-size: 12px
        display: inline-block
        margin-right: 10px
        margin-left: 10px
        align-self: flex-end
        &:last-child
          margin-right: 0


  // for showing on results page
  &__sortby
    margin: 30px 0
    display: flex
    justify-content: center
    align-items: center
    &__title
      color: #33b8a4
      font-size: 11px
      letter-spacing: .5px
      text-transform: uppercase
    &__filters
      display: flex
      margin-left: 10px
    &__filter
      background: #33b8a4
      color: white
      font-size: 11px
      font-weight: 700
      padding: 7px 10px
      border: 1px solid #2c7d72
      cursor: pointer
      &.active
        background: #2c7d72
      &:first-child
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
      &:last-child
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px



  &__listing
    background: white
    box-shadow: 0px 0px 9px rgba(black, .2)
    display: flex
    padding: 5px 20px
    margin-bottom: 25px
    @include mq($until: mobile)
      flex-direction: column
    &__image
      flex: 0 0 auto
      min-width: 200px
      display: flex
      flex-direction: column
      justify-content: center
      padding-right: 20px
      border-right: 2px solid #edeeef
      img
        max-width: 100%
      @include mq($until: mobile)
        flex: 0 0 150px
        margin-bottom: 10px
        border-right: 0
        padding-right: 0
    &__content
      flex: 1 1 auto
      display: flex
      flex-direction: column
      margin-left: 20px
      @include mq($until: mobile)
        margin-left: 0
    &__name
      margin-top: 8px
      font-size: 26px
      font-weight: 700
      @include mq($until: tablet)
        font-size: 22px

    &__location
      font-size: 18px
      @include mq($until: tablet)
        font-size: 16px
    &__description
      font-size: 24px
      margin-top: 10px
      @include mq($until: tablet)
        font-size: 18px
    &__actions
      text-align: right
      flex: 1
      display: -webkit-flex
      display: -ms-flex
      display: flex
      justify-content: flex-end
      align-items: flex-end
      margin-top: auto
      margin-bottom: 15px
      @include mq($until: tablet)
        margin-top: 10px
        margin-bottom: 10px
      .btn
        display: inline-block
        margin-right: 10px
        align-self: flex-end
        &:last-child
          margin-right: 0

  &__products-list
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    margin-bottom: 30px
    &--full
      .shop__product-box
        flex: 0 1 23%
        margin-right: 2%

  &__product-box
    position: relative
    overflow: hidden
    flex: 0 1 30%
    margin-right: 3%
    display: flex
    flex-direction: column
    margin-top: 15px
    border: 1px solid #e8e8e8
    &__image
      flex: 1
      margin-bottom: auto
      height: 115px
      overflow: hidden
      display: flex
      justify-content: center
      align-items: center
      img
        flex: 1 1 auto
    &__info
      background: #e8e8e8
      display: flex
      justify-content: space-between
      align-items: center
      position: relative
      z-index: 5
      padding: 5px 10px
      font-size: 13px
      &__name
        flex: 1 1 auto
        color: #818181
      &__price
        flex: 0 0 auto
        margin-left: 20px
        color: #5ab7ac
    &:hover
      .shop__product-box__description
        opacity: 1
        transform: translate3d(0, 0, 0)
    &__description
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 2
      opacity: 0
      background: rgba(#5ab7ac, .75)
      color: white
      font-size: 12px
      padding: 10px
      transform: translate3d(0, 100%, 0)
      transition: all .3s ease
    &__favorite
      position: absolute
      top: 7px
      right: 7px
      z-index: 5
      opacity: .5
      transition: all .3s ease
      &:hover
        opacity: 1

  &__sidebar
    padding-top: 30px
    margin-left: auto
    max-width: 225px
    margin-bottom: 50px
    &__favorite
      color: #5ab7ac
      margin-bottom: 20px
      a
        text-decoration: underline
        &:hover
          text-decoration: none

  &__sorting
    margin-bottom: 20px
    &__filter
      padding: 6px 15px
      border-radius: 6px
      background: #f9f9f9 image-url("ico-caret@2x.png") no-repeat 90% center
      background-size: 11px 11px
      font-size: 16px
      color: #8c8c8c
      border-bottom: 1px solid #e3e3e3
      margin-bottom: 10px
      cursor: pointer
      span
        color: $colorPrimary2
      &.active
        border-bottom: 1px solid $colorPrimary2

.h1-title
  color: $colorPrimary2
  font-size: 32px
  margin-bottom: 20px

.h3-title
  color: $colorPrimary2
  font-size: 16px

.sidebar-title
  color: $colorPrimary2
  font-size: 16px
  text-transform: uppercase
  margin-bottom: 10px
// Search
.search
  background: #33b8a4
  color: white
  padding: 15px
  &__title
    font-size: 30px
    font-weight: 700
    margin-top: 5px
  &__searchbox
    display: inline-block
    input
      background: white
      border-radius: 4px
      padding: 7px 15px
      font-size: 20px

@include mq($until: tablet)
  .search
    &__title
      font-size: 24px

@include mq($until: mobile)
  .search
    &__title
      text-align: center

    &__searchbox
      margin-top: 15px
      margin-left: auto
      margin-right: auto


/// NOTIFICATIONS
#notification
  position: fixed
  right: 10px
  bottom: 10px
  width: 300px
  padding: 10px
  border: 1px solid black
  background-color: #fff
  .close
    cursor: pointer

.online-status
  &::before
    display: inline-block
    content: ' '
    width: 8px
    height: 8px
    margin-right: 7px
    vertical-align: middle
    border-radius: 50%
    background: $colorRed
    transition: color 1s ease
  &.online
    &::before
      background: $colorGreen


// PAGINATIOn
.pagination
  font-size: 18px
  color: #8f8f8f
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 50px
  margin-top: 20px
  .page
    display: inline-block
    min-height: 0px
    min-width: 28px
    min-height: 28px
    text-align: center
    padding-top: 5px
    border-radius: 50%
    margin-right: 5px
    transition: all .2s ease
    &.current
      background: $colorPrimary2
      color: white
    &:hover:not(.current)
      background: rgba($colorPrimary2, .5)
  .next, .last, .previous, .prev, .first
    display: none


// MESSAGES
.messages
  &__wrapper
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: flex-start
    min-height: 65vh
    margin: 20px 5%
  &__head
    border-bottom: 2px solid $colorPrimary2
    margin-bottom: 15px
    .h1-title
      margin-bottom: 5px
  &__chats
    flex: 0 1 40%
    padding-left: 15px
    padding-right: 15px
    border-right: 7px solid $colorPrimary2
    &__coverstaion
      display: block
      padding-bottom: 15px
      padding-left: 15px
      border-bottom: 2px solid $colorPrimary2
      p
        padding: 0
        margin: 0
      &__name
        font-size: 18px
        font-weight: 700
      &__content
        margin-top: 5px
        margin-bottom: 7px
        font-size: 16px
        opacity: .7
  &__content
    flex: 0 1 60%
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    padding-left: 15px
    padding-right: 15px
    &__item
      flex: 0 1 80%
      align-self: flex-start
      width: 80%
      background: $colorPrimary2
      color: white
      padding: 10px
      border-radius: 8px
      margin-bottom: 15px
      p
        margin: 10px 0 0px 0
      &__data
        text-align: right
        font-size: 12px
        font-style: italic
        opacity: .75
      &--self
        margin-left: auto
        background: $colorPrimary4


.new_personal_message
  display: flex
  button
    border: 0
    background: transparent
    box-shadow: none
    cursor: pointer
    transition: all .2s ease
    &:hover
      opacity: .75


// BANNERS
.ad-banner
  margin-bottom: 30px
  margin-top: 30px
  text-align: center
  img, iframe, video
    max-width: 100%
  &--nomb
    margin-bottom: 0


// TOOLTIP
.tooltip
  position: relative
  width: 100%
  height: 100%
  cursor: pointer
  font-style: normal
  opacity: 1
  text-align: center
  &__content
    position: absolute
    pointer-events: none
    opacity: 0
    background: rgba(black, .8)
    border-radius: 6px
    color: white
    font-size: 13px
    padding: 5px 10px
    transition: all .2s ease-in
  &.bottom
    .tooltip__content
      left: 50%
      transform: translate3d(-50%, 70px, 0)
    &:hover
      .tooltip__content
        transform: translate3d(-50%, 50px, 0)
  &:hover
    .tooltip__content
      opacity: 1
      pointer-events: all
