// SOME INNER PAGES CONTENT

.login
  &__wrapper
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 65vh
    margin: 10vh 15%

  &__form
    width: 100%
    max-width: 550px
    margin-left: auto
    margin-right: auto


// PROFILE

.profile
  &__wrapper
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 65vh
    margin: 10vh 5%
  &__links
    font-size: 25px
    a
      display: block
      margin-bottom: 10px
      color: $colorPrimary2
      &::before
        display: inline-block
        content: ' '
        width: 10px
        height: 10px
        border-radius: 50%
        background: $colorPrimary2
        margin-right: 10px
        vertical-align: middle



// Content
.content
  &__wrapper
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 65vh
    margin: 10vh 5%
  p
    font-size: 16px
    line-height: 1.6


// SHOP
.shop
  .white-bg
    margin-bottom: 20px

  &__hero
    position: relative
    padding: 20px 0
    text-align: center
    margin-top: 20px
    height: 230px
    background: $colorPrimary2
    color: white
    overflow: hidden
    &__title
      font-size: 50px
    input
      -webkit-appearance: none
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      opacity: 0
      cursor: pointer
    img
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: 0
      width: 100%
      max-width: 100%

  &__contacts
    border-bottom: 2px solid $colorPrimary
    padding-bottom: 20px
    margin-bottom: 20px
    &__title
      display: inline-block
      font-size: 32px
      text-align: center
      color: white
      background: $colorPrimary
      padding: 7px 20px
      border-bottom-left-radius: 8px
      border-bottom-right-radius: 8px

  &__contact
    font-size: 20px
    color: $colorPrimary

  &__socials
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-wrap: wrap
    margin-left: auto
    max-width: 240px
    a
      flex: 0 0 60px
      margin-bottom: 5px

  // wrapper
  &__content
    padding-top: 30px

  // for create/edit
  &__products
    padding-top: 20px
    padding-bottom: 50px
    margin-bottom: 20px
    &__new
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      margin-top: 25px
      margin-bottom: 25px
      .ico
        flex: 0 0 60px
      &__title
        color: $colorPrimary2
        font-size: 30px
        font-weight: 700
        margin-left: 15px



  &__product
    background: white
    box-shadow: 0px 0px 9px rgba(black, .2)
    display: flex
    align-items: center
    padding: 5px 15px 5px 5px
    margin-bottom: 15px
    &__image
      position: relative
      width: 110px
      height: 110px
      flex: 0 0 100px
      height: 110px
      background: $colorPrimary
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      margin-right: 15px
      margin-left: 10px
      color: white
      overflow: hidden
      cursor: pointer
      input
        -webkit-appearance: none
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: 0
        cursor: pointer
        z-index: 3
      img
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        z-index: 2
      .ico
        transform: scale(.4)
        margin-top: -25px
        transform: top center
      span
        display: inline-block
        margin-top: -28px
        font-size: 15px
        font-weight: 700
        text-align: center
    &__content
      position: relative
      flex: 1 1 auto
      display: flex
      flex-direction: column
      border-left: 2px solid #edeeef
      padding-left: 15px
    &__name
      font-size: 26px
      font-weight: 700
    &__location
      font-size: 18px
    &__description
      font-size: 24px
      margin-top: 10px
    &__actions
      position: absolute
      bottom: 10px
      right: 0
      text-align: right
      flex: 1
      display: -webkit-flex
      display: -ms-flex
      display: flex
      justify-content: flex-end
      margin-top: auto
      margin-bottom: 5px
      .btn
        font-size: 12px
        display: inline-block
        margin-right: 10px
        align-self: flex-end
        &:last-child
          margin-right: 0


  // for showing on results page
  &__sortby
    margin: 30px 0
    display: flex
    justify-content: center
    align-items: center
    &__title
      color: #33b8a4
      font-size: 11px
      letter-spacing: .5px
      text-transform: uppercase
    &__filters
      display: flex
      margin-left: 10px
    &__filter
      background: #33b8a4
      color: white
      font-size: 11px
      font-weight: 700
      padding: 7px 10px
      border: 1px solid #2c7d72
      cursor: pointer
      &.active
        background: #2c7d72
      &:first-child
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
      &:last-child
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px



  &__listing
    background: white
    box-shadow: 0px 0px 9px rgba(black, .2)
    display: flex
    padding: 5px 20px
    margin-bottom: 25px
    &__image
      flex: 0 0 auto
      min-width: 200px
      display: flex
      flex-direction: column
      justify-content: center
      padding-right: 20px
      border-right: 2px solid #edeeef
      img
        max-width: 100%
    &__content
      flex: 1 1 auto
      display: flex
      flex-direction: column
      margin-left: 20px
    &__name
      margin-top: 8px
      font-size: 26px
      font-weight: 700
    &__location
      font-size: 18px
    &__description
      font-size: 24px
      margin-top: 10px
    &__actions
      text-align: right
      flex: 1
      display: -webkit-flex
      display: -ms-flex
      display: flex
      justify-content: flex-end
      align-items: flex-end
      margin-top: auto
      margin-bottom: 15px
      .btn
        display: inline-block
        margin-right: 10px
        align-self: flex-end
        &:last-child
          margin-right: 0

  &__products-list
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 30px
  &__product-box
    position: relative
    overflow: hidden
    flex: 0 1 30%
    display: flex
    flex-direction: column
    margin-top: 15px
    border: 1px solid #e8e8e8
    &__image
      flex: 1
      margin-bottom: auto
      height: 115px
      overflow: hidden
      display: flex
      justify-content: center
      align-items: center
      img
        flex: 1 1 auto
    &__info
      background: #e8e8e8
      display: flex
      justify-content: space-between
      align-items: center
      position: relative
      z-index: 5
      padding: 5px 10px
      font-size: 13px
      &__name
        flex: 1 1 auto
        color: #818181
      &__price
        flex: 0 0 auto
        margin-left: 20px
        color: #5ab7ac
    &:hover
      .shop__product-box__description
        opacity: 1
        transform: translate3d(0, 0, 0)
    &__description
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 2
      opacity: 0
      background: rgba(#5ab7ac, .75)
      color: white
      font-size: 12px
      padding: 10px
      transform: translate3d(0, 100%, 0)
      transition: all .3s ease
    &__favorite
      position: absolute
      top: 7px
      right: 7px
      z-index: 5
      opacity: .5
      transition: all .3s ease
      &:hover
        opacity: 1

  &__sidebar
    padding-top: 30px
    &__favorite
      color: #5ab7ac
      a
        text-decoration: underline
        &:hover
          text-decoration: none

.h3-title
  color: #5ab7ac
  font-size: 16px

// Search
.search
  background: #33b8a4
  color: white
  padding: 15px
  &__title
    font-size: 30px
    font-weight: 700
    margin-top: 5px
  &__searchbox
    display: inline-block
    input
      background: white
      border-radius: 4px
      padding: 7px 15px
      font-size: 20px




/// NOTIFICATIONS
#notification
  position: fixed
  right: 10px
  bottom: 10px
  width: 300px
  padding: 10px
  border: 1px solid black
  background-color: #fff
  .close
    cursor: pointer

.online_status
  color: red
  transition: color 1s ease
  &.online
    color: green
