// SOME INNER PAGES CONTENT

.login
  &__wrapper
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    justify-content: center
    min-height: calc(100vh-100px)
    margin: 10vh 15%

  &__form
    width: 100%
    max-width: 550px
    margin-left: auto
    margin-right: auto
